/* ----------------------------- */
/*   Media Queries               */
/* ----------------------------- */
/*

1- lorsque la taille du navigateur est inférieure à 800px, alors la largeur des paragraphes doit être fluide (occuper par défaut la largeur du parent)

2- Lorsque la page est affichée au format Portrait (vertical):
- la couleur d'arrière-plan des paragraphes sera de #F11A57
- afficher le texte "Vous êtes en format Portrait" au début de body

*/

body {
	margin: 0;
	padding: 10px 40px;
	background: #f1efe2;
	font-size: 1.6em;
	font-family: georgia, "trebuchet ms", arial, serif;
}
h1 {
	margin-top: 20px;
	margin-bottom: 40px;
	color: #345;
	text-shadow: 1px 1px 1px #fff;
}
h2 {
	color: #678;
	text-shadow: 1px 1px 1px #fff;
	font-size: 1.1em;
}
p {
	width: 800px;
	padding: 10px;
	background: #6b9a49;
	color: #fff;
}
p a {
	color: #fff;
}

/* width <= 800px */
@media (max-width: 800px) {
	p {
		width: auto;
	}
}
@media (orientation: portrait) {
	p {
		background: #f11a57;
	}
	body:before {
		content: "Vous êtes en format Portrait";
	}
}
